.cake {
    &__instruction {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-stage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1em;
            margin: 1em;
            background-color: rgb(216, 216, 216);
            width: 100px;
            height: 100px;
            border-radius: 50%;

            &.active {
                background-color: rgb(252, 231, 235);
            }

            &-icon {
                font-size: 1.5em;
                color: rgb(89, 89, 89);
                padding-bottom: 0.5em;
            }
        }


    }
}

.cake-design {
    margin: 2em 0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__floor {
        width: 100%;
        text-align: center;
        padding: 1em 0;
        font-weight: bold;
    }

    &__item {
        margin: 1em;
        padding: 1em;
        width: 90%;
        height: auto;
        box-shadow: 0px 0px 12px 0px rgb(231, 231, 231);
        cursor: pointer;

        &:hover .cake-design__item-img {
            filter: grayscale(0);
        }

        &-img {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: grayscale(0.5);
        }

        &-title {
            font-size: 2rem;
            text-align: center;
            margin: 0.5em 0;
        }

        &-details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .details-select {
                display: flex;
                align-items: center;
                justify-content: center;

                &__btn {
                    color: rgb(222, 222, 222);
                    margin: 0 0.6em;
                    font-size: 1.5rem;
                    cursor: pointer;

                    &:hover,
                    &.selected{
                        color: pink;
                    }
                }
            }

            & .details.price {
                line-height: 2em;
            }

            & .details-selected {
                color: pink;
                font-weight: bold;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;

    &__button {
        width: 5em;
        margin: 0.5em;
        padding: 0.5em 1em;
        border: none;

        &.active {
            background-color: green;
        }
    }
}

@media (min-width: 476px) {
    .cake-design {
        flex-direction: row;
        flex-wrap: wrap;

        &__item {
            margin: 1em;
            width: 45%;
        }
    }
}

@media (min-width: 768px) {
    .cake {
        &__instruction {
            flex-direction: row;
        }
    }

    .cake-design {
        &__item {
            width: 20%;
        }
    }
}