<section class="cake section wrapper">
    <h1 class="section-title">Create your own cake</h1>
    <div class="cake__instruction">
        <div *ngFor="let createCakeElement of createCakeInstruction" class="cake__instruction-stage"
            [routerLink]="createCakeElement.elementName" routerLinkActive="active">
            <i class="cake__instruction-stage-icon {{createCakeElement.elementIcon}}"></i>
            <p class="cake__instruction__stage-title">{{createCakeElement.elementName}}</p>
            <div class="cake__instruction__stage-separator"></div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="pagination">
        <button type="button" class="pagination__button pagination__button--previous"><i
                class="fa-solid fa-chevron-left"></i></button>
        <button type="button" class="pagination__button pagination__button--next"><i
                class="fa-solid fa-chevron-right"></i></button>
    </div>
</section>