@import '../../_colors.scss';

.cake {
    font-size: 1.4rem;

    &__instruction {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.2rem;

        &-stage {
            display: flex;
            justify-self: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1em;
            padding: 1em;
            width: 60px;
            height: 60px;
            background-color: $light-grey;
            border-radius: 50%;

            &.active {
                background-color: $light-pink;

                & .icon {
                    color: $dark-grey;
                }
            }

            & .icon {
                padding-bottom: 0.5em;
                font-size: 1em;
                color: $grey;
            }
        }
    }
}

.cake-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    padding: 0.5em;

    &__floor {
        padding: 1em 0;
        width: 100%;
        font-weight: bold;
        text-align: center;
        color: $dark-grey;
    }

    &__item {
        margin: 1em;
        padding: 1em;
        width: 90%;
        height: auto;
        box-shadow: 0px 0px 12px 0px rgb(217, 217, 217);
        cursor: pointer;

        &:hover .cake-design__item-img {
            filter: grayscale(0);
        }

        &-img {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: grayscale(0.5);
        }

        &-title {
            margin: 0.5em 0;
            font-size: 1.8rem;
            text-align: center;
            color: $grey;
        }

        &-details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .details-select {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .details.price {
                line-height: 2em;
            }

            & .details-selected {
                color: $primary-pink;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 476px) {
    .cake {
        font-size: 1.5rem;

        &__instruction {
            margin: 0 auto;
            width: 60%;
            font-size: 1.3rem;

            &-stage {
                width: 65px;
                height: 65px;
            }
        }
    }

    .cake-design {
        flex-direction: row;
        flex-wrap: wrap;

        &__item {
            margin: 1em;
            width: 70%;
        }
    }
}

@media (min-width: 768px) {
    .cake {
        &__instruction {
            grid-template-columns: repeat(7, 1fr);
            margin: 0 auto;
            width: 90%;

            &-stage {
                width: 65px;
                height: 65px;
            }
        }
    }

    .cake-design {
        margin: 3em auto;
        font-size: 1.3rem;

        &__item {
            width: 30%;
        }
    }
}

@media (min-width: 976px) {
    .cake {
        &__instruction {
            width: 80%;

            &-stage {
                width: 70px;
                height: 70px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .cake {
        &__instruction {
            width: 60%;
        }
    }

    .cake-design {
       width: 80%;
    }
}