<div class="alert">
    <div class="alert-bg" (click)="onCloseAlert()"></div>
    <div class="alert-box" *ngIf="product">
        <div class="product__img">
            <img src="{{product.imagePath}}" alt="{{product.name}}">
        </div>
        <div class="product__added">
            <p class="product__added-alert">Product added to cart</p>
            <div class="product__added-content">
                <h2 class="title">{{product.name}}</h2>
                <p class="description">{{product.description}}</p>
            </div>
            <div class="product__added-actions">
                <button class="btn" (click)="onCloseAlert()">Continue Shopping</button>
                <button class="btn" (click)="onGoToCart()">Go to cart</button>
            </div>
        </div>
    </div>
    <div class="alert-box" *ngIf="!product">
        <p>Submited order</p>
    </div>
</div>