.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.section-title {
	padding-top: 2em;
	text-align: center;
	text-transform: uppercase;
	color: rgb(107, 105, 106);
	// text-shadow: 5px 5px 19px rgb(85, 85, 85);
}
