@import '../../_colors.scss';

.nav {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 10;

    &__links {
        display: none;
    }

    &__link {
        text-decoration: none;
    }

    &--shadow {
        box-shadow: inset 0px 0px 70px 34px rgba(94, 94, 94, 0.9);
    }

    &--active {
        align-items: flex-start;
        padding: 0.5em 0;
        height: 100vh;
        background-color: $primary-pink;
        background-image: radial-gradient(circle, rgb(216, 190, 190) 0%, rgb(230, 217, 217) 100%);
       
        & .nav__links {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2em 0;
            width: 100vw;
            height: 100vh;
        }

        & .nav__link {
            margin: 0.5em;
            padding: 1em;
            text-align: center;
            color: $claret;
            letter-spacing: 0.2rem;
            text-shadow: 0px 0px 10px rgb(167, 130, 130);
            box-shadow: inset 0px 0px 34px 7px rgb(203, 179, 179);
            border-radius: 0.5em;
            cursor: pointer;
            
            &:hover {
                box-shadow: inset 0px 0px 14px 17px rgb(213, 193, 193);
            }
        }

        & .nav__shopping {
            display: none;
        }
    }

    &__shopping {
        display: flex;
        margin: 0.5em;

        &-icon {
            position: relative;
            margin: 0.5em;
            padding: 0.5em;
            font-size: 1rem;
            background-color: $light-grey;
            border-radius: 50%;

            &-img {
                display: block;
                margin: 0 auto;
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;
            }

            &--counter {
                position: absolute;
                left: 60%;
                top: -25%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 50%;
                background-color: $primary-pink;
                border-radius: 50%;
            }
        }
    }
}

.main-image {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/cream_small.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 80px 30px rgb(234, 234, 234);
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        height: 100%;
        text-align: center;

        &-title {
            font-family: "Satisfy", cursive;
            font-size: 5rem;
            text-shadow: 0px 0px 19px rgba(0, 0, 0, 1);
            color: $almost-white;
        }

        &-description {
            font-size: 2rem;
            font-style: italic;
            color: $almost-black;
            text-shadow: 2px 2px 5px rgb(253, 253, 253);
        }
    }
}

@media (min-width: 476px) {
    .nav {
        &--active {
            & .nav__link {
                width: 60%;
            }
        }
    }

    .main-image {
        &__content {
            &-title {
                font-size: 6rem;
            }

            &-description {
                font-size: 2.2rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .nav {
        &__links {
            display: block;
            margin: 0 2em;
        }

        &__link {
            margin: 0 0.5em;
            padding: 0.5em;
            width: auto;
            font-size: 1.2rem;
            font-weight: bold;
            color: $dark-grey;
            text-shadow: 2px 2px 3px rgb(190, 189, 189);

            &.active {
                color: rgb(133, 65, 65);
            }
        }

        &--shadow {
            & .nav__link {
                color: rgb(235, 235, 235);
                text-shadow: 2px 2px 3px rgb(119, 119, 119);

                &.active {
                    color: $primary-pink;
                }
            }
        }

        &__shopping {
            margin: 0.5em 2em;
        }
    }

    .main-image {
        height: 50vh;
        background-image: url('../../assets/img/cream_medium.jpg');

        &__content {
            padding: 2em 0 1em 0;
        }
    }
}

@media (min-width: 1200px) {
    .nav {
        &__link {
            font-size: 1.4rem;
        }
    }
}

