<nav class="nav" [ngClass]="{'nav--active': activeMenu}" [ngClass]="{'nav--shadow' : scrollPosition > 90}">
    <button class=" hamburger hamburger--spin" [ngClass]="{'is-active': activeMenu}" type="button"
        (click)="onActiveMenu()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="nav__links">
        <a *ngFor="let navLink of navLinks" [routerLink]="'/' + navLink" routerLinkActive="active" class="nav__link"> {{
            navLink | space | uppercase
            }}</a>
    </div>
    <div class="nav__shopping">
        <div class="nav__shopping-icon nav__shopping-icon--home">
            <img [routerLink]="'/home'" class="nav__shopping-icon-img" src="assets/img/icons/home.png" alt="home" />
        </div>
        <div class="nav__shopping-icon nav__shopping-icon--favourites" (mouseenter)="onActivateMode('favourites')"
            (mouseleave)="onDisactivateMode()">
            <div class="nav__shopping-icon--counter" *ngIf="favourites.items.length">{{favourites.items.length}}</div>
            <img [routerLink]="'/favourites'" class="nav__shopping-icon-img" src="assets/img/icons/favourites.png"
                alt="favourites" (click)="onActivateMode(null)" />
            <div *ngIf="activeMode === 'favourites'">
                <app-menu></app-menu>
            </div>
        </div>
        <div class="nav__shopping-icon nav__shopping-icon--cart" (mouseenter)="onActivateMode('cart')"
            (mouseleave)="onDisactivateMode()">
            <div class="nav__shopping-icon--counter" *ngIf="cart.items.length">{{onShowCounter(cart)}}</div>
            <img [routerLink]="'/cart'" class="nav__shopping-icon-img" src="assets/img/icons/cart.png" alt="cart"
                (click)="onActivateMode(null)" />
            <div *ngIf="activeMode === 'cart'">
                <app-menu></app-menu>
            </div>
        </div>
    </div>
</nav>
<div class="main-image" #mainImage>
    <div class="main-image__img"></div>
    <div class="main-image__content">
        <h1 class="main-image__content-title">Just Sweet</h1>
        <p class="main-image__content-description">best cakes based on your own project</p>
    </div>
</div>