<footer class="footer">
    <div class="footer__informations">
        <div class="footer__informations-item">
            <p class="title">Just Sweet</p>
            <a class="link" [routerLink]="'/cake-designer'">Create Your Own Cake</a>
            <a class="link" [routerLink]="'/shop-online'">Shop Online</a>
            <a class="link" [routerLink]="'/home'" href="#about-me">About Us</a>
            <a class="link">Little Gallery</a>
            <a class="link">Delivery and Payment</a>
            <a class="link">Statute</a>
        </div>
        <div class="footer__informations-item">
            <p class="title" [routerLink]="'/contact-us'">Contact Us</p>
            <p>{{address}}</p>
            <p>Mon-Fri {{openingHours.week}},</p>
            <p>Sat-Sun {{openingHours.weekend}}</p>
            <p><i class="fa-solid fa-phone contact-icon"></i>{{phone}}</p>
            <p class="email" [routerLink]="'/contact-us'"><i class="fa-solid fa-envelope contact-icon"></i>
                {{email}}</p>
        </div>
        <div class="footer__informations-item">
            <p class=" title">Join the Community</p>
            <p>Subscribe and be the first to know about our special offers</p>
            <form #f="ngForm">
                <input class="subscribe" type="mail" id="email" placeholder="your e-mail" ngModel name="email" required
                    email>
                <button class="subscribe subscribe-btn" type="submit" [disabled]="!f.valid">
                    <i class="fa-solid fa-thumbs-up"></i>
                </button>
                <p *ngIf="!f.valid && f.touched" class="subscribe-valid">Please, enter valid email</p>
            </form>
        </div>
    </div>
    <div class="footer__media">
        <div class="social-media">
            <a href="https://facebook.com" target="_blank"><i class="social-media-icon fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i
                    class="social-media-icon fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com" target="_blank"> <i class="social-media-icon fa-brands fa-tiktok"></i></a>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright-content">Copyright &copy; <span class="footer__year">2023</span> Justyna Sz | Just
            Sweet Cake .</p>
        <p class="footer__copyright-content">All rights reserved .</p>
    </div>
</footer>