@import '../../_colors.scss';

.footer {
    padding: 1em;
    color: $grey;
    background-color: $light-grey;

    &__informations {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        width: 70%;
        font-size: 1.3rem;

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 1em 0;
            width: 100%;
            text-align: center;

            & p {
                margin-bottom: 0.5em;
            }

            & .title {
                font-weight: bold;
            }

            & .link {
                margin-bottom: 0.5em;
                text-decoration: none;
                color: $grey;

                &:hover {
                    color: $primary-pink;
                }
            }

            & .contact-icon {
                margin-right: 0.3em;
            }

            & .email {
                cursor: pointer;

                &:hover .contact-icon {
                    color: $primary-pink;
                }
            }

            & .subscribe {
                margin: 0.2em;
                padding: 0.4em 0.7em;
                width: 100%;
                text-align: center;
                color: $grey;
                border: thin solid $grey;
                border-radius: 5px;

                &::placeholder {
                    color: $grey;
                }

                &:focus {
                    outline: transparent;
                }

                &-valid {
                    font-size: 1rem;
                    color: $dark-pink;
                }
            }
        }
    }

    &__media {
        display: flex;
        justify-content: center;
        margin: 1em;

        & .social-media {
            display: flex;
            margin: 0 auto;
            font-size: 1.5rem;

            &-icon {
                margin-bottom: 0.2em;
                padding: 0.5em;
                color: $grey;

                &:hover {
                    color: $primary-pink;
                }
            }
        } 
    }

    &__copyright {
        &-content {
            margin: 0;
            font-size: 1.2rem;
            text-align: center;
        }
    }
}


@media (min-width: 768px) {
    .footer {
        &__informations {
            flex-direction: row;
            margin: 3em auto;
            width: 80%;
    
            &-item {
                justify-content: start;
                margin: 0 0.5em;
            }
        }
    }    
}

@media (min-width: 1200px) {
    .footer {
        &__informations {
            width: 70%;
        }
    }
}