.footer {
    background-color: rgb(222, 222, 222);
    color: rgb(108, 108, 108);

    &__informations {
        width: 70%;
        display: flex;
        margin: 3em auto;
        font-size: 1.3rem;
        justify-content: space-around;

        &-item {
            width: 30%;
            margin: 0 2em;
            display: flex;
            flex-direction: column;

            &-title {
                font-weight: bold;
            }

            &-link {
                text-decoration: none;
                color: grey;
                margin-bottom: 0.5em;
                cursor: pointer;

                &:hover {
                    color: rgb(192, 142, 142);
                }
            }

            &-email {
                cursor: pointer;
            }

            & .social-media {
                display: flex;
                flex-direction: column;
                font-size: 1.5rem;

                &-icon {
                    color: rgb(192, 142, 142);
                    padding: 0.5em;
                    margin-bottom: 0.2em;

                    &:hover {
                        color: rgb(165, 165, 165);
                    }
                }
            } 

            & .subscribe {
                margin: 0.2em 0;
                border: thin solid rgb(178, 178, 178);
                border-radius: 5px;
                padding: 0.4em 0.7em;
                color: grey;
                width: 100%;

                &::placeholder {
                    color: rgb(193, 193, 193);
                }

                &:focus {
                    outline: transparent;
                }

                &-btn {
                    &:hover {
                        background-color: rgb(238, 220, 220);

                    }
                }

                &-valid {
                    font-size: 1rem;
                    color: rgb(192, 142, 142)
                }
            }

            & .icon {
                margin-right: 0.3em;
            }
        }
    }

    &__copyright {
        text-align: center;
        margin-top: 5em;

        & p {
            margin: 0;
            font-size: 1.2rem;
        }
    }
}