<section class="about-me section">
    <div class="about-me__container wrapper">
        <div class="about-me__content">
            <h2 class="section-title about-me__content-title">Hi, I'm Justyna</h2>
            <p class="about-me__content-description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
                asperiores commodi illum voluptatibus quisquam earum veniam minus at
                similique quis alias nulla soluta voluptatem, ea dignissimos quasi
                repellendus dolorem fugit. Quia rem nostrum nemo mollitia expedita.
            </p>
        </div>
        <div class="about-me__image">
            <img src="assets/img/mee.jpg" alt="" class="about-me__image-me" />
            <div class="about-me__image-bg"></div>
        </div>
    </div>
</section>