<section class="about-me section">
    <div class="about-me__container wrapper">
        <div class="about-me__content">
            <h2 class="section-title about-me__content-title">{{title}}</h2>
            <p class="about-me__content-description">
                {{description}}
            </p>
        </div>
        <div class="about-me__image">
            <img src="assets/img/mee.jpg" alt="" class="about-me__image-me" />
            <div class="about-me__image-bg"></div>
        </div>
    </div>
</section>