.about-me {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3em;
        width: 80%;
        text-align: center;
    }

    &__content {
        &-title {
            padding-bottom: 0.5em;
        }

        &-description {
            padding: 1.5em 0;
        }
    }

    &__image {
        width: 100%;

        &-photo {
            height: 300px ;
            background-image: url('../../../assets/img/mee.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: inset 0px 0px 80px 100px rgb(236, 236, 236);
        }
    }
}

@media (min-width: 476px) {
    .about-me {
        &__image {
            margin-top: 1em;
        }
    }
}

@media (min-width: 768px) {
    .about-me {
        &__container {
            flex-direction: row;
        }

        &__content {
            position: relative;
            left: 10%;
            width: 40%;
            z-index: 1;
        }

        &__image {
            width: 60%;
        }
    }
}