<div class="settings__layout">
    <i class="fa-solid fa-list icon" (click)="onSelectLayout('list')"></i>
    <i class="fa-solid fa-table-cells icon" (click)="onSelectLayout('grid')"></i>
</div>
<div class="settings__box">
    <div class="settings__box-header">
        <p class="title">Filters</p>
        <i class="fa-solid fa-caret-down icon" *ngIf="!filtersActive" (click)="activateFilters()"></i>
        <i class="fa-solid fa-caret-up icon" *ngIf="filtersActive" (click)="activateFilters()"></i>
    </div>
    <div class="settings__box-items" [ngClass]="{'settings__box-items--disactive': !filtersActive}">
        <div class="item__sort">
            <label for="sort">Sort by</label>
            <select id="sort" name="sort" class="select" [(ngModel)]="selectedSort"
                (change)="onSelectSort(selectedSort)">
                <option value="category">category</option>
                <option value="name">name</option>
                <option value="price">price</option>
            </select>
        </div>
        <div class="item__amount">
            <label for="amount">Show</label>
            <select id="amount" name="amount" class="select" [(ngModel)]="selectedAmount"
                (change)="onTableSizeChange($event)">
                <option *ngFor="let size of amountToSelect">{{size}}</option>
            </select>
        </div>
    </div>
</div>
<div class="settings__box">
    <div class="settings__box-header">
        <p class="title">Categories</p>
        <i class="fa-solid fa-caret-down icon" *ngIf="!categoriesActive" (click)="activateCategories()"></i>
        <i class="fa-solid fa-caret-up icon" *ngIf="categoriesActive" (click)="activateCategories()"></i>
    </div>
    <div class="settings__box-items" [ngClass]="{'settings__box-items--disactive': !categoriesActive}">
        <div class="item__category" *ngFor="let category of categories" (click)="onSelectCategory(category.name)">
            <div class="item__category-icon" [ngClass]="{'active': selectedCategory.indexOf(category.name) >= 0}">
                <i class="fa-solid {{category.icon}} "></i>
            </div>
            <p class="item__category-name">{{category.name}}</p>
        </div>
        <p class="item__category-all" (click)="onShowAllProducts()">show all</p>
    </div>
</div>