@import '../../../_colors.scss';

.settings {
    &__layout {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    
        & .icon {
            padding: 0.5em;
            font-size: 2rem;
            color: $dark-grey;
            cursor: pointer;
            
            &:hover {
                color: $grey;
            }
        }
    }

    &__box {
        margin-bottom: 2em;
        padding: 0.5em;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $dark-grey;

        &-header {
            & .title {
                display: inline;
                margin-right: 1em;
                font-weight: bold;
            }
        
            & .icon {
                padding: 0.5em;
                cursor: pointer;
            }
        }

        &-items {
            margin-top: 2em;
    
            &--disactive {
                display: none;
            }

            & .item__sort,
            & .item__amount {
                display: flex;
                flex-direction: column;
                width: 100%;

                & .select {
                    margin: 0.5em 0;
                    padding: 0.5em 1em;
                    font-family: "Open Sans", sans-serif;
                    font-size: 1.2rem;
                    text-align: center;
                    text-transform: uppercase;
                    background-color: $almost-white;
                    border: thin solid $light-grey;
                    border-radius: 2px;
                }
            }

            & .item__category {
                display: flex;
                align-items: center;
                padding: 0.5em 0;

                &-icon {
                    background-color: $grey;
                    border-radius: 50%;
                    width: 2em;
                    height: 2em;
                    padding: 1.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1em;
                    background-color: $light-grey;
                    cursor: pointer;
                    color: $grey;
                    
                    &.active {
                        background-color: $light-pink;

                        & i {
                            color: $dark-grey;
                        }
                    }
                }

                &-name {
                    margin: 0;
                }

                &-all {
                    margin-top: 2em;
                    padding: 1em 0;
                    color: $grey;
                    cursor: pointer;
            
                    &:hover {
                        color: $dark-grey;
                    }
                }
            }

        }
        
    }
}

@media (min-width: 476px) {
    .settings {
        &__box {
            &-items {
                .select {
                    width: 50%;  
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .settings {
        &__box {
            &-items {
                margin-top: 3em;

                .select {
                    width: 100%;  
                }
            }
        }
    }
}