<section class="products section">
    <h2 class="section-title">our products</h2>
    <div class="products__container wrapper">
        <div class="white-card products__card" *ngFor="let card of productsCards">
            <h3 class="products__card-title">{{card.title}}</h3>
            <p class="products__card-description">
                {{card.description}}
            </p>
            <a href="#" class="">
                <p class="products__card-link">{{card.link}}</p>
            </a>
            <img class="products__card-img" src="{{card.imagePath}}" alt="{{card.title}}" />
        </div>
    </div>
</section>