@import '../../../_colors.scss';

.products {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        width: 80%;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 50%;
        }

        &-img {
            width: 100%;
        }

        &-title {
            margin-bottom: 1em;
            color: $almost-black;
            text-transform: uppercase;
        }

        &-link {
            padding: 1em 0;
            width: 100%;
            font-weight: 600;
            text-align: end;
            text-decoration: none;
            color: $primary-pink;

            &:hover {
                color: $light-pink;
            }
        }
    }
}

@media (min-width: 768px) {
    .products {
        &__container {
            flex-direction: row;
            width: 100%;
        }

        &__card {
            margin: 1em 1em;
            width: 40%;

            &:hover {
                scale: 1.05;
            }
        }
    }
}

@media (min-width: 976px) {
    .products {
        &__container {
            width: 90%;
        }

        &__card {
            width: 25%;

            &-img {
                &--top {
                    padding-bottom: 1em;
                    order: -1
                }
            }

            &-link {
                &--top {
                    padding-bottom: 0;
                }
            }
        }
    }
}