<section class="products section">
    <h2 class="section-title">our products</h2>
    <div class="products__container wrapper">
        <div class="white-card products__card" *ngFor="let card of productsCards, let i = index">
            <h3 class="products__card-title">{{card.title}}</h3>
            <p class="products__card-description">
                {{card.description}}
            </p>
            <a href="#" class="products__card-link" [routerLink]="'/' + card.link"
                [ngClass]="{'products__card-link--top': i % 2 !== 0}">{{(card.link).replace('-',' ')}}
            </a>
            <img class="products__card-img" [ngClass]="{'products__card-img--top': i % 2 !== 0}"
                src="{{card.imagePath}}" alt="{{card.title}}" />
        </div>
    </div>
</section>