<div class="cake-design wrapper">
    <div class="cake-design__item" *ngFor="let size of cakeSize" (click)="onSelectSize(size)">
        <div class="cake-design__item-img" [ngStyle]="{'background-image': 'url(' + size.imagePath + ')'}">
        </div>
        <p class="cake-design__item-title">{{size.name}}</p>
        <div class="cake-design__item-details">
            <p class="details-selected"> {{sizeOfCake.name === size.name ? 'SELECTED' : ''}}</p>
            <p class="details-price">+ {{size.price}} EUR</p>
        </div>
    </div>
</div>