@import '../../../_colors.scss';

.feedback {
    .carousel {
        margin: 0 auto;
        width: 100%;
        text-align: center;

        &-inner {
            padding-bottom: 4em;
        }

        &-description {
            margin: 0 auto;
            padding-bottom: 1em;
        }
    }

    &__stars {
        margin-top: 0.5em;
        color: $primary-pink;
    }
}

@media (min-width: 768px) {
    .feedback {
        .carousel {
            width: 70%;
        }
    }
}