@import '../../_colors.scss';

.auth {
    &__form {
        margin: 0 auto;
        padding: 0 1em 1em 1em;
        color: $grey;

        & .form-group {
            margin: 0.5em 0;

            & label {
                margin-bottom: 0.5em;
            }

            & input {
                display: inline;
                margin: 0.2em 0;
                padding: 0.7em;
            }
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2em;
        }

        & .alert {
            margin: 0;
            padding: 0.5px 0;
            width: 100%;
            font-size: 1rem;
            color: $dark-pink;
        }
    }

    &__error {
        text-align: center;
        color: $dark-pink;
    }

    &__logout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-user {
            margin: 1em 0;
            text-align: center;

            & .email {
                color: $primary-pink;
            }
        }
    }
}

@media (min-width: 476px) {
    .auth {
        &__form {
            width: 60%;
        }
    }
}

@media (min-width: 768px) {
    .auth {
        &__form {
            width: 30%;
            max-width: 300px;
        }
    }
}