<div class="cake-design">
    <div class="cake-design__summary">
        <div class="summary__cake">
            <img class="summary__cake-img" [src]="createdCake.size.imagePath" alt="created cake">
        </div>
        <div class="summary__informations">
            <p class="summary__informations-type">{{createdCake.type.name}} {{createdCake.size.name}} cake</p>
            <div class="carts-information">
                <div *ngFor="let floor of createdCake.floor" class="cart-information cart-information-cake">
                    <p *ngIf="createdCake.floor.length > 1" class="carts-information-floors">{{floor.name}}</p>
                    <p>{{ 'color : ' + floor.color.name }}</p>
                    <p>{{ 'flavour : ' + floor.flavour.name }}</p>
                    <p>{{ 'cream : ' + floor.cream.name }}</p>
                </div>
            </div>
            <div class="summary__informations-accessories" *ngIf="createdCake.details.length > 1; else noDetails">
                <p>Cake accessories:</p>
                <div class="carts-information">
                    <div class="cart-information cart-information-details" *ngFor="let detail of createdCake.details">
                        <p>{{detail.name}}</p>
                    </div>
                </div>
            </div>
            <ng-template #noDetails>No details added. Are you sure you don't want any details? You can simply add some
                here.</ng-template>
        </div>
        <div class="summary__price">
            <p class="summary__price-total">Total price : {{totalCakePrice}} EUR</p>
            <button class="summary__price-add" type="submit" (click)="onAddCakeToCart(createdCake)">
                Add to
                Cart</button>
        </div>
    </div>
    <app-alert *ngIf="activeAlert"></app-alert>
</div>