<div class="cake-design wrapper">
    <div class="cake-design__summary">
        <p class="summary__cake">your cake</p>
        <p>{{createdCake.type.name}} {{createdCake.size.name}} cake</p>
        <img [src]="createdCake.size.imagePath" alt="">
        <div class="summary__accessories" *ngIf="createdCake.details.length">
            <p>Cake accessories:</p>
            <p *ngFor="let detail of createdCake.details"> {{detail.name}}</p>
        </div>
        <div class="summary__flavour">
            <p>Flavour :</p>
            <p *ngFor="let flavour of createdCake.flavour">{{createdCake.flavour.length > 1 ? 'Floor ' + flavour.floor +
                ':'
                : ''}} {{flavour.flavour.name}}</p>
        </div>
        <div class="summary__color">
            <p>Color :</p>
            <p *ngFor="let color of createdCake.color">{{createdCake.color.length > 1 ? 'Floor ' + color.floor + ': '
                : ''}} {{color.color.name}}</p>
        </div>
        <p>Total price : {{totalCakePrice}} EUR</p>
        <button class="btn-add">Add to Cart</button>
    </div>
</div>