@import '../../../_colors.scss';

.cake-design {
    &__summary {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $grey;

        & .summary {
            &__cake {
                padding: 1em 0;

                &-img {
                    padding: 1em;
                    width: 80%;
                    border: 1px solid $light-grey;
                }
            }

            &__informations {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-type {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
  

                & .carts-information {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 2em 0 3em 0;

                    &-floors {
                        margin-top: 0;
                        padding: 0.3em 0;
                        font-weight: bold;
                    }
                }

                & .cart-information {
                    margin: 0.5em;
                    padding: 1em;
                    border: 1px solid $light-grey;

                    &-cake {
                        width: 60%;
                    }

                    &-details {
                        width: 40%;
                    }

                    & p {
                        margin: 0.5em 0;
                    }
                }
            }

            &__price {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                grid-column: 1/3;
                margin-top: 3em;

                &-add {
                    width: 70%;
                }
            }
        } 
    }
}

@media (min-width: 476px) {
    .cake-design {
        &__summary {
            & .summary {
                &__informations {
                    & .cart-information {
                        &-cake {
                            width: 45%;
                        }
                    }
                }

                &__price {
                    &-add {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .cake-design {
        &__summary {
            flex-direction: row;
            flex-wrap: wrap;

            & .summary {
                &__cake {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                }

                &__informations {
                    width: 60%;

                    & .carts-information {
                        margin: 1em 0;
                    }

                    & .cart-information {
                        padding: 0.5em;

                        &-cake {
                            width: 30%;
                        }

                        &-details {
                            width: 20%;
                        }
                    }
                }

                &__price {
                    width: 100%;

                    &-add {
                        width: 30%;
                    }
                }
            }
        }
    }
}