.nav {
    &__shopping {
        &-menu {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .nav {
        &__shopping {
            &-menu {
                display: block;
                position: absolute;
                top: 50px;
                right: 0;
                padding: 1em;
                width: 30vw;
                max-height: 80vh;
                font-size: 1.2rem;
                background-color: rgb(244, 244, 244);
                overflow: scroll;
                border: 1px solid rgb(201, 201, 201);
                border-radius: 5px;

                &-view {
                    display: flex;
                    justify-content: flex-end;
                    padding: 0.5em;

                    & .view {
                        font-weight: bold;
                        text-decoration: none;
                        color: grey;
                    }

                    & .view-icon {
                        margin-left: 0.5em;
                        font-size: 2rem;
                        color: rgb(215, 178, 178);
                        cursor: pointer;
                    }

                    &:hover .view {
                        color: rgb(159, 159, 159);
                    }

                    &:hover .view-icon {
                        color: rgb(239, 205, 205);
                    }
                }

                &-items {
                    padding: 2em;

                    & .item {
                        display: flex;
                        justify-content: space-between;
                        margin: 0.5em 0;
                        padding: 0.5em;
                        background-color: rgb(245, 245, 245);
                        border: 1px solid rgb(233, 222, 222);
                        border-radius: 5px;

                        &__product {
                            display: flex;
                            align-items: center;

                            &-img {
                                width: 80px;
                                height: 60px;
                            }
    
                            &-name {
                                margin: 0;
                                padding: 0 2em;
                                font-weight: bold;
                            }
    
                            &-price {
                                display: flex;
                                align-items: center;
                                padding: 0 1em;
                            }

                            &-add {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 0 1em;

                                & .add-icon,
                                & .remove-icon {
                                    font-size: 1.3rem;
                                    color: rgb(102, 102, 102);
                                    cursor: pointer;

                                    &:hover {
                                        color: rgb(187, 187, 187);
                                    }
                                }

                                & .add-icon {
                                    margin-right: 0.5em;
                                }
                            }
                        }
                    }
                }

                &-summary {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 2em;
                    padding-top: 2em;
                    border-top: 1px solid rgb(220, 220, 220);

                    & .total {
                        font-weight: bold;
                    }
                }

                &-select {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1.5em;

                    & .buy-icon {
                        margin-left: 0.5em;
                        font-size: 2rem;
                        color: rgb(163, 216, 163);
                        cursor: pointer;

                        &:hover {
                            color: rgb(192, 237, 192);
                        }
                    }

                    & .delete-icon {
                        color: rgb(111, 111, 111);
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            color: rgb(196, 196, 196);
                        }
                    }
                }
            }
        }
    }
}
