<div *ngIf="activeMode !== ''" class="nav__shopping-menu">
    <div class="nav__shopping-menu-view">
        <a class="view" [routerLink]="'/' + activeMode"> {{ 'view ' + activeMode | uppercase }}
            <i class="fa-solid fa-magnifying-glass view-icon"></i>
        </a>
    </div>
    <div class="nav__shopping-menu-items" *ngIf="activeMode === 'favourites'">
        <div *ngIf="favourites.items.length else noItems">
            <div class="item" *ngFor="let item of favourites.items">
                <div class="item__product">
                    <img src="{{item.imagePath}}" alt="{{item.name}}" class="item__product-img">
                    <p class="item__product-name">{{item.name | shorten: 20}}</p>
                </div>
                <div class="item__product-add">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <div class="nav__shopping-menu-select">
                <a class="delete-icon" (click)="onClearFav()">remove all</a>
                <div class="buy">
                    <p>add all to cart<i [routerLink]="'/cart'" class="fa-solid fa-circle-check buy-icon"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="nav__shopping-menu-items" *ngIf="activeMode === 'cart'">
        <div *ngIf="cart.items.length else noItems">
            <div class="item" *ngFor="let item of cart.items">
                <div class="item__product">
                    <img src="{{item.imagePath}}" alt="{{item.name}}" class="item__product-img">
                    <p class="item__product-name">{{item.name | shorten: 20}}</p>
                    <p class="item__product-quantity">({{item.quantity}})</p>
                </div>
                <p class="item__product-price">{{ item.price| currency }}</p>
            </div>
            <div class="nav__shopping-menu-summary">
                <p>total: <span class="total"> {{onGetTotalCartPrice(cart.items) | currency}} </span></p>
            </div>
            <div class="nav__shopping-menu-select">
                <a class="delete-icon" (click)="onClearCart()">remove all</a>
                <div class="buy">
                    <p>buy<i [routerLink]="'/cart'" class="fa-solid fa-circle-check buy-icon"></i></p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noItems>
        <div class="cart-empty">
            <p>There are no items in your {{activeMode}} !</p>
            <div class="cart-empty-actions">
                <p>
                    <span [routerLink]="['/shop-online']" class="link">Start Shopping</span> or
                    <span [routerLink]="['/cake-designer']" class="link">Create Your Own Cake</span>
                </p>
            </div>
        </div>
    </ng-template>
</div>