@import '../../../_colors.scss';

.nav {
    &__shopping {
        &-menu {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .nav {
        &__shopping {
            &-menu {
                display: block;
                position: absolute;
                top: 50px;
                right: 0;
                padding: 1em;
                width: 50vw;
                max-height: 80vh;
                font-size: 1.2rem;
                background-color: $almost-white;
                overflow: scroll;
                border: 1px solid $light-grey;
                border-radius: 5px;

                &-view {
                    display: flex;
                    justify-content: flex-end;
                    padding: 0.5em;

                    & .view {
                        font-weight: bold;
                        text-decoration: none;
                        color: $grey;
                    }

                    & .view-icon {
                        margin-left: 0.5em;
                        font-size: 2rem;
                        color: $primary-pink;
                        cursor: pointer;
                    }

                    &:hover .view {
                        color: $light-grey;
                    }

                    &:hover .view-icon {
                        color: $light-pink;
                    }
                }

                &-items {
                    padding: 0.3em;

                    & .item {
                        display: flex;
                        justify-content: space-between;
                        margin: 1em 0;
                        padding: 1em;
                        background-color: $almost-white;
                        border-bottom: 1px solid $light-grey;
                        border-radius: 5px;

                        &__product {
                            display: flex;
                            align-items: center;

                            &-img {
                                width: 80px;
                                height: 60px;
                            }
    
                            &-name {
                                margin: 0;
                                padding: 0 2em;
                                font-weight: bold;
                            }
    
                            &-price {
                                display: flex;
                                align-items: center;
                                padding: 0 1em;
                            }
                        }
                    }
                }

                &-summary {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 2em;
                    padding-top: 2em;

                    & .total {
                        font-weight: bold;
                    }
                }

                &-select {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1.5em;

                    & .buy {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & .buy-icon {
                            margin-left: 0.5em;
                            font-size: 2rem;
                            color: $green;
                            cursor: pointer;
    
                            &:hover {
                                color: $light-green;
                            }
                        }
                    }

                    & .delete-icon {
                        color: $grey;
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            color: $dark-grey;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 978px) {
    .nav {
        &__shopping {
            &-menu {
                width: 40vw;

                &-items {
                    padding: 1em;
                }
            }
        }
    }
}

@media (min-width: 978px) {
    .nav {
        &__shopping {
            &-menu {
                width: 30vw;
            }
        }
    }
}



