.hamburger {
    position: fixed;
    z-index: 100;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav {
        &__shopping {
            width: 30%;
            margin: 0 1em;
            display: flex;
            justify-content: flex-end;
            position: relative;

            &-icon {
                margin: 1em;
                padding: 0.5em;
                display: block;
                background-color: rgb(255, 224, 224);
                border-radius: 50%;
                position: relative;

                &-img {
                    cursor: pointer;
                    display: block;
                    margin: 0 auto;
                    width: 2.5rem;
                    height: 2.5rem;
                }

                &--cart {
                    background-color: rgb(199, 248, 223);
                }

                &--counter {
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    border-radius: 50%;
                    background-color: rgb(247, 117, 117);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 60%;
                    top: -25%;
                }
            }

            &-menu {
                background-color: white;
                padding: 1em;
                position: absolute;
                top: 50px;
                width: 30vw;
                right: 0;
                max-height: 80vh;
                overflow: scroll;
                border-radius: 5px;
                border: 1px solid rgb(186, 186, 186);

                &-view {
                    display: flex;
                    justify-content: flex-end;

                    & .view {
                        text-decoration: none;
                        color: rgb(233, 195, 195);
                        font-weight: bold;
                    }

                    & .view-icon {
                        margin-left: 0.5em;
                        font-size: 2rem;
                        cursor: pointer;
                    }
                }

                &-items {
                    padding: 1em;

                    & .item {
                        display: flex;
                        justify-content: space-between;
                        margin: 0.5em 0;
                        padding: 0.5em;
                        background-color: rgb(246, 246, 246);

                        &__product {
                            display: flex;
                            align-items: center;

                            &-img {
                                width: 80px;
                                height: 60px;
                            }
    
                            &-name {
                                padding: 0 2em;
                                font-weight: bold;
                            }
    
                            &-price {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }

                &-summary {
                    margin-top: 2em;
                    padding-top: 2em;
                    display: flex;
                    justify-content: flex-end;
                    border-top: 1px solid rgb(220, 220, 220);

                    & .total {
                        font-weight: bold;
                    }
                }

                &-select {
                    margin-top: 1em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & .buy-icon {
                        margin-left: 0.5em;
                        font-size: 2rem;
                        cursor: pointer;
                    }

                    & .delete-icon {
                        cursor: pointer;
                        color: grey;

                        &:hover {
                            color: rgb(247, 117, 117);
                        }
                    }

                    & .buy-icon {
                        color: rgb(115, 214, 150);
                    }
                }
            }
        }
    }

}