.product {
    padding: 1em;
    border: thin solid rgb(235, 235, 235);

    &__img {
        height: 15em;
        width: 100%;

        & .img {
            display: block;
            width: 100%;
            height: 100%;
            filter: grayscale(0.5);
        }
    }

    &:hover .product__img img{
        filter: grayscale(0.2);
    }

    &__content {

        &-title {
            padding: 0.7em 0;
            color: pink;
        }
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2em;

        &-add {
            display: flex;

            &-cart {
                position: relative;
            }
        }

        &-price {
            font-weight: bold;
        }

        &-quantity {
           display: inline;
           font-size: 1.2rem;
           position: absolute;
           bottom: 0;
           left: 50%;
           transform: translate(-50%, -50%);
        }

        &-icon {
            cursor: pointer;
            font-size: 1.7rem;
            margin: 0 0.2em;
            color: grey;

            &:hover {
                color: pink;
            }

            &.active {
                color: pink;
            }
        }
    }

    &.list {
        display: flex;
        margin: 1em;

        & .product__img {
            height: 10em;
            width: 30%;
            padding: 1em 2em;
        }

        & .product__content {
            width: 80%;
            padding-left: 2em;
        }

        & .product__summary {
            padding: 1em;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            &-price {
                margin: 0;
            }
        }
    }

    &__pagination {
        grid-column: 1/5;
        display: flex;
        justify-content: center;
        padding: 2em 0;
    }
}

.pagination-controls::ng-deep .ngx-pagination .current {
    background: rgb(223, 197, 201);
}

