<div class="product">
    <img class="product__img" src="https://img.jamieoliver.com/jamieoliver/recipe-database/106283051.jpg?tr=w-330"
        alt="">
    <div class="product__content">
        <h2 class="product__title">Cake</h2>
        <p class="product__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, consectetur!
        </p>
    </div>
    <div class="product__summary">
        <p class="product__summary-price">{{ '50' | currency }}</p>
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
</div>