.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5em;
    padding: 1em;
    width: 100%;
    border: thin solid rgb(206, 206, 206);
    border-radius: 5px;

    &__content {
        height: 30%;
        
        &-title {
            padding-bottom: 0.7em;
            font-size: 1.6rem;
            font-weight: bold;
            color: grey;
        }
    }

    &__img {
        width: 100%;
        height: 50%;
        
        & .img {
            display: block;
            margin: 0 auto;
            padding: 1em;
            width: 80%;
            height: 100%;
            filter: grayscale(0.5);
        }
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 2em;
        height: 20%;

        &-add {
            display: flex;
            align-items: center;

            &-cart {
                position: relative;
            }
        }

        &-price {
            margin: 0;
        }

        &-quantity {
           position: absolute;
           bottom: 0;
           left: 50%;
           transform: translate(-50%, -50%);
           display: inline;
           font-size: 1rem;
        }

        &-icon {
            margin: 0 0.2em;
            font-size: 1.7rem;
            color: rgb(169, 169, 169);
            cursor: pointer;

            &:hover,
            &.active {
                color: rgb(224, 200, 204);
            }
        }
    }

    &.list {
        display: flex;
        // margin: 1em;
        width: 100%;

        & .product__img {
            height: 10em;
            width: 30%;
            padding: 1em 2em;
        }

        & .product__content {
            width: 80%;
            padding-left: 2em;
        }

        & .product__summary {
            padding: 1em;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            &-price {
                margin: 0;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        padding: 2em 0;
        width: 100%;
        font-size: 1.2rem;
    }
}

.pagination-controls::ng-deep .ngx-pagination {
    padding-left: 0;
}

.pagination-controls::ng-deep .ngx-pagination .current {
    background: rgb(223, 197, 201);
}

@media (min-width: 476px) {
    .product {
        width: 45%;
    }
}

@media (min-width: 976px) {
    .product {
        width: 30%;

        &__pagination {
            margin-top: 3em;
        }

    }
}

@media (min-width: 1200px) {
    .product {
        width: 23%;
    }
}