<div *ngFor="let product of shopProducts" class="product" [ngClass]="{list: layout === 'list'}">
    <div class="product__img">
        <img class="img" src="{{product.imagePath}}" alt="">
    </div>
    <div class="product__content">
        <h2 class="product__content-title">{{product.name}}</h2>
        <p class="product__content-description">{{product.description}}</p>
    </div>
    <div class="product__summary">
        <p class="product__summary-price">{{ product.price | currency }}</p>
        <i class="product__summary-icon fa-solid fa-cart-shopping" (click)="onAddToCart(product)"></i>
    </div>
</div>