.product {
    padding: 1em;
    border: thin solid rgb(235, 235, 235);

    &__img {
        height: 15em;

        & .img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__content {

        &-title {
            padding: 0.7em 0;
            color: pink;
        }
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;

        &-price {
            font-weight: bold;
        }

        &-icon {
            cursor: pointer;

            &:hover {
                color: pink;
            }
        }
    }
}