.products {
    &-box {
        padding: 2em 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &.list {
            display: block;
            padding: 2em 4em;
        }
    }
}

.no-products {
    margin: 1em 0.5em;
    padding: 1em 0.5em;
    text-align: center;
}

@media (min-width: 476px) {
    .products {
        &-box {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 768px) {
    .no-products {
        margin: 2em;
        padding: 2em;
    }
}