.products {
    &-box {
        padding: 2em 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &.list {
            margin: 0 auto;
        }
    }
}

.no-products {
    margin: 1em 0.5em;
    padding: 1em 0.5em;
    text-align: center;
}

@media (min-width: 476px) {
    .products {
        &-box {
            &.list {
                padding: 0 2em;
            }
        }
    }
}

@media (min-width: 589px) {
    .products {
        &-box {
            &.list {
                padding: 0 3em;
            }
        }
    }
}

@media (min-width: 768px) {
    .no-products {
        margin: 2em;
        padding: 2em;
    }
}

@media (min-width: 976px) {
    .products {
        &-box {
            &.list {
                width: 90%;
            }
        }
    }
}