<div class="products-header">
    <div class="products-header-sort">
        <label for="sort">Sort by</label>
        <select id="sort" name="sort" class="select">
            <option value="name">name</option>
            <option value="price">price</option>
        </select>
    </div>
    <div class="products-header-layout">
        <div class="layout-amount">
            <label for="amount">Show</label>
            <select id="amount" name="amount" class="select">
                <option value="name">6</option>
                <option value="price">12</option>
                <option value="price">18</option>
            </select>
        </div>
        <div class="layout-style">
            <i class="fa-solid fa-list icon"></i>
            <i class="fa-solid fa-table-cells icon"></i>
        </div>
    </div>
</div>