@import '../../../_colors.scss';

.products {
    &-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &.list {
            margin: 0 auto;
        }

        & .product {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0.5em;
            padding: 1em;
            width: 100%;
            border: thin solid $light-grey;
            border-radius: 5px;
        
            &__content {
                height: 30%;
                
                &-title {
                    padding-bottom: 0.7em;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: $grey;
                }
        
                &-description {
                    font-size: 1.2rem;
                }
            }
        
            &__img { 
                & .img {
                    display: block;
                    margin: 0.5em auto;
                    padding: 1em;
                    width: 10em;
                    height: 10em;
                    filter: grayscale(0.5);
                }
            }
        
            &__summary {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-top: 1em;
                height: 20%;
        
                &-add {
                    display: flex;
                    align-items: center;
        
                    &-cart {
                        position: relative;
                    }
                }
        
                &-price {
                    font-size: 1.5rem;
                }
        
                &-quantity {
                   position: absolute;
                   bottom: 12px;
                   left: 50%;
                   transform: translate(-50%, -50%);
                   display: inline;
                   font-size: 1rem;
                }
        
                &-icon {
                    margin: 0 0.2em;
                    font-size: 1.7rem;
                    color: $grey;
                    cursor: pointer;
        
                    &:hover,
                    &.active {
                        color: $primary-pink;
                    }
                }
            }
        
            &.list {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0.5em;
                height: 100%;
        
                & .product__img {
                    display: flex;
                    justify-content: end;
                    width: 50%;
        
                    & .img {
                        margin: 0;
                        padding: 0;
                        width: 6em;
                        height: 6em;
                        filter: grayscale(0.5);
                    }
                }
        
                & .product__content {
                    width: 50%;
                }
        
                & .product__summary {
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
        
        
                    &-price {
                        margin: 0;
                        order: 1;
                    }
                }
            }
        
            &__pagination {
                display: flex;
                justify-content: center;
                margin-top: 2em;
                padding: 2em 0;
                width: 100%;
                font-size: 1.2rem;
            }
        }

    }
}

.no-products {
    margin: 1em 0.5em;
    padding: 1em 0.5em;
    text-align: center;
}

.pagination-controls::ng-deep .ngx-pagination {
    padding-left: 0;
}

.pagination-controls::ng-deep .ngx-pagination .current {
    background: $primary-pink;
}

@media (min-width: 476px) {
    .products {
        &-box {
            &.list {
                padding: 0 2em;
            }

            & .product {
                width: 45%;
        
                &.list {
                    width: 100%;
        
                    & .product__img {
                        width: 40%;

                        & .img {
                            width: 8em;
                            height: 8em;
                            filter: grayscale(0.5);
                        }
                    }

                    & .product__content {
                        width: 60%;
                    }
                }
            }
        }
    }
}

@media (min-width: 589px) {
    .products {
        &-box {
            &.list {
                padding: 0 3em;
            }

            & .product {        
                &.list {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 768px) {

    .products {
        &-box {
            & .product {        
                &.list {
                    padding: 1em;
                    width: 100%;

                    & .product__summary {
                        margin-top: 1em;
                    }
                }
            }
        }
    }

    .no-products {
        margin: 2em;
        padding: 2em;
    }
}

@media (min-width: 976px) {
    .products {
        &-box {
            & .product {
                width: 30%;
        
                &__pagination {
                    margin-top: 3em;
                }
            }

            &.list {
                width: 75%;
            }
        }
    }
}

@media (min-width: 1200px) {
    .products {
        &-box { 
            & .product {
                width: 23%;
            
                &.list {
                    width: 80%;
                    max-width: 850px;
                
                    & .product__img {
                        width: 30%;
                        padding: 0 0 1em 1em;
                    }
                }
            }
        }
    }
}