<div class="products-header">
    <div class="products-header-sort">
        <label for="sort">Sort by</label>
        <select id="sort" name="sort" class="select" [(ngModel)]="selectedSort">
            <option value="name">name</option>
            <option value="price">price</option>
        </select>
    </div>
    <div class="products-header-layout">
        <div class="layout-amount">
            <label for="amount">Show</label>
            <select id="amount" name="amount" class="select" [(ngModel)]="selectedAmount">
                <option value="6">6</option>
                <option value="12">12</option>
                <option value="18">18</option>
            </select>
        </div>
        <div class="layout-style">
            <i class="fa-solid fa-list icon" (click)="onSelectLayout('list')"></i>
            <i class="fa-solid fa-table-cells icon" (click)="onSelectLayout('grid')"></i>
        </div>
    </div>
</div>
<app-shop-product class="products-box"></app-shop-product>