<div class="alert">
    <div class="alert-bg" (click)="onCloseAlert()"></div>
    <div class="alert-box" *ngIf="product">
        <div class="product__img">
            <img src="{{product.imagePath}}" alt="{{product.name}}">
        </div>
        <div class="product__added">
            <p class="product__added-alert">Product added to cart</p>
            <div class="product__added-content">
                <h2 class="title">{{product.name}}</h2>
                <p class="description">{{product.description}}</p>
            </div>
            <div class="product__added-actions">
                <button class="btn" (click)="onCloseAlert()">{{activeMode === 'shop-online' ? 'Continue Shopping' :
                    'Continue Designing'}}</button>
                <button class="btn" *ngIf="activeMode === 'cake-designer'" (click)="onRedirect('shop-online')">Go to
                    shop
                    online</button>
                <button class="btn" (click)="onRedirect('cart')">Go to cart</button>
            </div>
        </div>
    </div>
    <div class="alert-box" *ngIf="!product">
        <div class="alert-box__order">
            <p class="title">Dear Customers,</p>
            <p class="description">Your order has been accepted for processing.
                Please be patient and wait for further information, which will be provided by email.
                We will keep you updated on the progress of your order.
            </p>
            <p class="description">Thank you for choosing our products and best regards,</p>
            <p class="team">Just Sweet Team</p>
        </div>
    </div>