.layout {
    margin-bottom: 2em;
    width: 100%;

    & .icon {
        padding: 0.5em;
        font-size: 2rem;
        color: rgb(85, 85, 85);
        cursor: pointer;
        
        &:hover {
            color: grey;
        }
    }
}

.filters {
    padding: 0.5em;
    font-size: 1.3rem;
    text-transform: uppercase;
    
    &__header {
        &-title {
            display: inline;
            margin-right: 1em;
            font-weight: bold;
        }
    
        &-icon {
            padding: 0.5em;

            &:hover {
                color: grey;
                cursor: pointer;
            }
        }
    }

    &__items {
        margin-top: 2em;

            &--disactive {
                display: none;
            }

            &-sort,
            &-amount {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

    & .select {
        margin: 0.5em 0;
        padding: 0.5em 1em;
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        background-color: rgb(235, 235, 235);
        border: thin solid rgb(218, 217, 217);
        border-radius: 2px;
    }
}

@media (min-width: 476px) {
    .filters {
        .select {
            width: 50%;
        }
    }
}

@media (min-width: 768px) {
    .filters {
        &__items {
            margin-top: 3em;
        }

        .select {
            width: 100%;
        }
    }
}