<div class="cart" *ngIf="cart.items.length, else noItems">
    <div class="cart__header">
        <p class="cart__header-title">Name</p>
        <p class="cart__header-title">Price</p>
        <p class="cart__header-title">Quantity</p>
        <p class="cart__header-title">Total</p>
    </div>
    <div class="cart__items" *ngFor="let item of cart.items, let i = index">
        <img class="cart__items-img" src="{{item.imagePath}}" alt="">
        <p class="cart__items-item">{{item.name | shorten: 15}}</p>
        <p class="cart__items-item">{{item.price | currency}}</p>
        <p class="cart__items-item">
            <i class="fa-solid fa-circle-plus quantity-icon"></i>
            {{item.quantity}}
            <i class="fa-solid fa-circle-minus quantity-icon"></i>
        </p>
        <p class="cart__items-item">{{getTotalPrice(item) | currency}}</p>
        <i class="fa-solid fa-trash cart__items-item remove-icon" (click)="onRemoveFromCart(i)"></i>
    </div>
    <a class="cart__clear" (click)="onClearCart()">remove all</a>
    <div class="cart__summary">
        <p class="cart__summary-total">Total:
            <span class="total-price">{{onGetTotalCartPrice(cart.items) | currency}}</span>
        </p>
        <button class="cart__summary-submit">submit
            <i class="fa-solid fa-circle-check buy-icon"></i>
        </button>
        <p class="cart__summary-continue" [routerLink]="['/shop-online']">continue shopping</p>
    </div>
</div>
<ng-template #noItems>
    <div class="cart-empty">
        <p>There are no items in your cart !</p>
        <div class="cart-empty-actions">
            <p>
                <span [routerLink]="['/shop-online']" class="link">Start Shopping</span> or
                <span [routerLink]="['/cake-designer']" class="link">Create Your Own Cake</span>
            </p>
        </div>
    </div>
</ng-template>