.cart {
    display: grid;
    margin: 5em auto;
    width: 70%;

    &__header {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column: 1 / 7;
        padding: 2em 0;
        text-transform: uppercase;
        color: rgb(167, 167, 167);
        
        &-title {
            justify-self: center;

            &--name {
                grid-column: 2/4;
            }
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column: 1 / 7;
        align-items: center;
        padding: 1em 0;
        border-bottom: thin solid rgb(219, 219, 219);

        &-img {
            margin: 0 auto;
            width: 6em;
            height: 6em;
        }

        &-item {
            justify-self: center;

            &--name {
                grid-column: 2/4;
                color: grey;

                & .name {
                    margin-bottom: 0.2em;
                    font-weight: bold;
                }

                & .description {
                    color: rgb(172, 172, 172);
                }
            }
        }

        & .remove-icon,
        & .quantity-icon {
            padding: 1em;
            font-size: 1.7rem;
            color: rgb(181, 181, 181);
            cursor: pointer;

            &:hover {
                color: rgb(217, 188, 188);
            }
        }
    }

    &__clear {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 2;
        padding: 1em 0;
        text-decoration: none;
        color: grey;
        cursor: pointer;

        &:hover {
            color: rgb(208, 208, 208);
        }
    }

    &__summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        grid-column: 6 / 7;
        padding-top: 3em;

        &-continue {
            color: grey;
            cursor: pointer;

            &:hover {
                color: rgb(208, 208, 208);
            }
        }

        &-total {
            font-size: 1.5rem;

            & .total-price {
                margin-left: 0.3em;
                font-weight: bold;
            }
        }

        &-submit {
            margin: 1em 0;
            padding: 0.5em 1em;
            width: 100%;
            text-transform: uppercase;
            background-color: rgb(247, 247, 247);
            border: thin solid rgb(220, 220, 220);
            border-radius: 3px;
            cursor: pointer;
    
                & .buy-icon {
                    margin-left: 0.5em;
                    font-size: 2rem;
                    color: rgb(115, 214, 150);
                }
        }
    }
}

.pagination {
    grid-column: 3/5;
    padding-top: 2em;
    text-align: center;
}

.pagination-controls::ng-deep .ngx-pagination .current {
    background: rgb(223, 197, 201);
}
