<div class="cake-design wrapper">
    <form class="cake-design__form">
        <div class="cake-design__form-date">
            <label for="date">when you need your cake ?</label>
            <input class="cake-design__form-inputs" type="date" id="date">
        </div>
        <div class="cake-design__form-message">
            <label for="message">give me some extra informations</label>
            <textarea class="cake-design__form-inputs" name="message" id="message" rows="10"></textarea>
        </div>
        <div class="cake-design__form-btns">
            <button class="cake-design__form-btns-btn" type="button"> Save </button>
            <button class="cake-design__form-btns-btn" type="button"> Change </button>
        </div>
    </form>
</div>