.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.section {
    padding: 3em 1em;
}

.section-title {
    padding-bottom: 1.5em;
    font-family: "Satisfy", cursive;
    font-size: 3rem;
    text-align: center;
    color: rgb(107, 105, 106);
}

.white-card {
    margin: 1em 0;
    padding: 2em;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 24px 0px rgb(197, 197, 197);
    border-radius: 10px;
}

.web {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    &-actions {
        display: flex;
        color: grey;
        padding: 2em 0;

        & .link {
            cursor: pointer;
            font-weight: bold;
        }
    }
}

.btn {
    background-color: rgb(255, 237, 240);
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 1em;
}
