<div class="cake-design wrapper">
    <div class="cake-design__item" *ngFor="let type of cakeTypes">
        <div class="cake-design__item-img" [ngStyle]="{'background-image': 'url(' + type.imagePath + ')'}">
        </div>
        <p class="cake-design__item-title">{{type.name}}</p>
        <div class="cake-design__item-details">
            <div class="details-select">
                <button class="details-select__btn details-select__btn--add">+</button>
                <button class="details-select__btn details-select__btn--remove">-</button>
            </div>
            <p class="details-price">+ {{type.price}} EUR</p>
        </div>
    </div>
</div>