.footer {
	text-align: center;
	background-color: rgb(248, 233, 235);

	&__contact {
		padding-bottom: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-item {
			padding: 0.2em;
		}

		&-icon {
			padding-right: 0.5em;
			color: rgb(110, 110, 110);
		}
	}
}
