.hamburger {
	position: fixed;
	z-index: 100;
}

.nav {
	// position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(211, 211, 211);
	background-image: radial-gradient(
		circle,
		rgba(241, 241, 241, 1) 31%,
		rgba(232, 232, 232, 1) 63%,
		rgb(255, 217, 224) 100%
	);
	// border-bottom: thin solid rgb(85, 85, 85);
	z-index: 10;

	&__links {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__link {
		position: relative;
		width: 90%;
		padding: 1em;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		color: rgb(108, 108, 108);
		border-radius: 0.5em;

		&:hover {
			box-shadow: inset 0px 0px 21px -9px rgb(141, 141, 141);
		}
	}
}

@media (min-width: 768px) {
	.hamburger {
		display: none;
	}

	.nav {
		display: flex;
		padding: 0 2em;
		height: 10vh;
		flex-direction: row;
		justify-content: space-between;
		background-image: none;

		&__links {
			flex-direction: row;
			margin: 0 0.5em;
		}

		&__link {
			width: 30%;
		}

		&__shopping {
			display: flex;
			justify-content: end;
			width: 30%;

			&-icon {
				display: block;
				margin: 1em;
				padding: 0.5em;
				background-color: rgb(249, 201, 201);
				border-radius: 50%;
				cursor: pointer;

				&-img {
					width: 2em;
					height: 2em;
				}

				&--cart {
					background-color: rgb(199, 248, 223);
				}
			}
		}
	}
}
