.products {
	background-color: rgb(228, 228, 228);

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}

	&__card {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		&-content {
			height: 50%;
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&-img {
			height: 50%;
			width: 100%;

			&--bottom {
				padding-top: 1em;
			}

			&--top {
				padding-bottom: 1em;
			}
		}

		&-title {
			margin-bottom: 1em;
			color: rgb(104, 104, 104);
		}

		& a {
			width: 100%;
			text-decoration: none;
			font-weight: 600;
			color: rgb(252, 134, 154);
			text-align: end;
		}

		&-link {
			padding-top: 1em;
		}
	}
}

@media (min-width: 768px) {
	.products {
		&__container {
			flex-direction: row;
		}

		&__card {
			width: 40%;
			margin: 1em 1em;
		}
	}
}

@media (min-width: 976px) {
	.products {
		&__card {
			width: 30%;
		}
	}
}
