<div class="cake-design wrapper" *ngFor="let floor of florsOfCake, let i = index">
    <p *ngIf="florsOfCake.length > 1" class="cake-design__floor">Floor : {{floor}}</p>
    <div class="cake-design__item" *ngFor="let flavour of cakeFlavours" (click)="onSelectFlavour(flavour.name, floor)">
        <div class="cake-design__item-img" [ngStyle]="{'background-image': 'url(' + flavour.imagePath + ')'}">
        </div>
        <p class="cake-design__item-title">{{flavour.name}}</p>
        <div class="cake-design__item-details">
            <p class="details-selected"> {{flavourOfCake[i].flavour.name === flavour.name ? 'SELECTED' : ''}}</p>
            <p class="details-price">+ {{flavour.price}} EUR</p>
        </div>
    </div>
</div>