.shop {
    min-height: 150px;
    width: 100vw;
    display: flex;
    flex-direction: column;

    &-categories {
        width: 100%;
        padding: 2em;
        border-bottom: 1px solid rgb(210, 210, 210);
    }

    &-products {
        width: 100%;
        padding: 2em;
    }
}

@media (min-width: 768px) {
    .shop {
        flex-direction: row;

        &-categories {
            width: 25%;
            border-bottom: none;
            border-right: 1px solid rgb(210, 210, 210);
        }

        &-products {
            width: 75%;
        }
    }
}