<div class="cake-design wrapper">
    <div class="cake-design__item" *ngFor="let detail of cakeDetails" (click)="onSelectDetail(detail.name)">
        <div class="cake-design__item-img" [ngStyle]="{'background-image': 'url(' + detail.imagePath + ')'}">
        </div>
        <p class="cake-design__item-title">{{detail.name}}</p>
        <div class="cake-design__item-details">
            <p class="details-selected"> {{detailIsSelected(detail.name) ? 'SELECTED' : ''}}</p>
            <p class="details-price">+ {{detail.price}} EUR</p>
        </div>
    </div>
</div>