.cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5em auto;
    width: 90%;
    font-size: 1.2rem;

    &__header {
        display: none;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1 / 5;
        align-items: center;
        padding: 1em 0;
        border-bottom: thin solid rgb(222, 222, 222);

        &-img {
            margin: 0 auto;
            width: 2.5em;
            height: 2.5em;
        }

        &-name {
            grid-column: 2/4;
            padding: 0.2em;
            color: grey;

            & .name {
                margin-bottom: 0.2em;
                font-weight: bold;
            }

            & .description {
                color: rgb(172, 172, 172);
            }
        }

        &-price {
            display: none;
        }

        &-actions {
            grid-column: 4 / 5;
        }

        &-item {
            justify-self: center;
            text-align: center;
        }

        &-name {
            grid-column: 2/4;
            color: grey;

            & .name {
                margin-bottom: 0.2em;
                font-weight: bold;
            }

            & .description {
                margin: 0;
                color: rgb(172, 172, 172);
            }
        }

        & .action-icon {
            padding: 0.5em;
            font-size: 1.5rem;
            color: rgb(205, 205, 205);
            cursor: pointer;

            &.active {
                color: rgb(203, 183, 186);
            }
        }
    }

    &__clear,
    &__add {
        margin: 1em 0;
        padding: 1em 0;
        color: grey;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: rgb(198, 198, 198);
        }
    }

    &__clear {
        grid-column: 1 / 2;
    }

    &__add {
        grid-column: 4 / 5;
    }
}

.pagination {
    grid-column: 1/6;
    justify-content: center;
    padding-top: 2em;
    text-align: center;
}

.pagination-controls::ng-deep .ngx-pagination .current {
    background: rgb(223, 197, 201);
}

@media (min-width: 476px) {
    .cart {
        &__items {
            &-img {
                width: 4em;
                height: 4em;
            }
        }
    }
}

@media (min-width: 768px) {
    .cart {
        grid-template-columns: repeat(5, 1fr);
        width: 90%;

        &__header {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column: 1 / 6;
            padding: 2em 0;
            text-transform: uppercase;
            color: rgb(167, 167, 167);

            & .title {
                justify-self: center;
    
                &--name {
                    grid-column: 2/4;
                }
    
                &--price {
                    grid-column: 4/5;
                }
            }
        }

        &__items {
            grid-template-columns: repeat(5, 1fr);
            grid-column: 1 / 6;

            &-img {
                width: 5em;
                height: 5em;
            }

            &-name {
               grid-column: 2 / 4;
            }

            &-price {
                display: block;
                grid-column: 4 / 5;
            }

            &-actions {
                grid-column: 5/6;
            }
        }

        &__add {
            grid-column: 5 / 6;
        }

        &__clear,
        &__add {
            display: block;
            padding: 2em 0;
        }

        &__summary {
            padding-top: 2em;
        }
    }
}

@media (min-width: 1200px) {
    .cart {
        width: 70%;
    }
}