<div class="cart" *ngIf="favourites.items.length, else noItems">
    <div class="cart__header">
        <p class="title title--name">Name</p>
        <p class="title title--price">Price</p>
    </div>
    <div class="cart__items" *ngFor="let item of favourites.items | paginate : {
            itemsPerPage: tableSize, 
            currentPage: page, 
            totalItems: count}, let i = index">
        <img class="cart__items-img" src="{{item.imagePath}}" alt="">
        <div class="cart__items-item cart__items-name">
            <p class="name">{{item.name | shorten: 20}}</p>
            <p class="description">{{item.description}}</p>
        </div>
        <p class="cart__items-item cart__items-price">{{item.price | currency}}</p>
        <div class="cart__items-item cart__items-actions">
            <i class="fa-solid fa-heart cart__items-item action-icon" (click)="onRemoveFromFavourites(i)"
                [ngClass]="{active : onCheckFavourites(item)}"></i>
            <i class="fa-solid fa-cart-shopping cart__items-item action-icon" (click)="onRemoveFromFavourites(i)"></i>
        </div>

    </div>
    <a class="cart__clear" (click)="onClearFavourites()">remove all</a>
    <a class="cart__add" [routerLink]="'/cart'">add all to cart</a>
    <div class="pagination">
        <pagination-controls *ngIf="tableSize < favourites.items.length" class="pagination-controls"
            previouslabel='Prev' nextLabel='next' (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>
<ng-template #noItems>
    <div class="cart__empty">
        <p>There are no items in your favourites !</p>
        <div class="cart__empty-actions">
            <p>
                <span [routerLink]="['/shop-online']" class="link">Start Shopping</span> or
                <span [routerLink]="['/cake-designer']" class="link">Create Your Own Cake</span>
            </p>
        </div>
    </div>
</ng-template>