.cart {
    width: 70%;
    margin: 5em auto;
    display: grid;

    &__header {
        text-transform: uppercase;
        color: rgb(182, 182, 182);
        padding: 2em 0;
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        &-title {
            justify-self: center;

            &--name {
                grid-column: 2/4;
            }
        }
    }

    &__items {
        padding: 1em 0;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column: 1 / 7;
        border-bottom: thin solid rgb(235, 235, 235);


        &-img {
            width: 6em;
            height: 6em;
            display: block;
            margin: 0 auto;
        }

        &-item {
            justify-self: center;

            &--name {
                grid-column: 2/6;
                color: grey;

                & .name {
                    font-weight: bold;
                    margin-bottom: 0.2em;
                }

                & .description {
                    color: rgb(172, 172, 172);
                }
            }
        }

        & .remove-icon,
        & .quantity-icon {
            padding: 1em;
            cursor: pointer;
            font-size: 1.7rem;
        }

        & .quantity-icon {
            color: rgb(202, 202, 202);
        }

        & .remove-icon {
            color: rgb(125, 125, 125);

            &.active {
                color: pink;
            }
        }
    }

    &__clear {
        grid-column: 1 / 2;
        color: grey;
        padding: 1em 0;
        cursor: pointer;

        &:hover {
            color: rgb(245, 93, 93);
        }
    }
}

.pagination {
    grid-column: 3/5;
    text-align: center;
    padding-top: 2em;
}

.pagination-controls::ng-deep .ngx-pagination .current {
    background: pink;
}