.cart {
    display: grid;
    grid-template-columns: repeat(1fr, 7);
    margin: 5em auto;
    width: 70%;

    &__header {
        display: grid;
        grid-column: 1 / 7;
        grid-template-columns: repeat(7, 1fr);
        padding: 2em 0;
        color: rgb(182, 182, 182);
        text-transform: uppercase;

        &-title {
            justify-self: center;

            &--name {
                grid-column: 2/6;
            }

            &--price {
                grid-column: 6/7;
            }
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column: 1 / 7;
        align-items: center;
        padding: 1em 0;
        border-bottom: thin solid rgb(222, 222, 222);

        &-img {
            margin: 0 auto;
            width: 6em;
            height: 6em;
        }

        &-item {
            justify-self: center;

            &--name {
                grid-column: 2/6;
                color: grey;

                & .name {
                    margin-bottom: 0.2em;
                    font-weight: bold;
                }

                & .description {
                    color: rgb(172, 172, 172);
                }
            }
        }

        & .remove-icon,
        & .quantity-icon {
            padding: 1em;
            font-size: 1.7rem;
            color: rgb(202, 202, 202);
            cursor: pointer;
        }

        & .remove-icon {
            &.active {
                color: rgb(215, 184, 189);
            }
        }
    }

    &__clear,
    &__add {
        margin: 1em 0;
        padding: 1em 0;
        color: grey;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: rgb(198, 198, 198);
        }
    }

    &__clear {
        grid-column: 1 / 2;
    }

    &__add {
        grid-column: 6 / 7;
    }
}

.pagination {
    grid-column: 3/5;
    padding-top: 2em;
    text-align: center;
}

.pagination-controls::ng-deep .ngx-pagination .current {
    background: rgb(223, 197, 201);
}