<app-shop-filters></app-shop-filters>
<div class="categories">
    <div class="categories__header">
        <p class="categories__header-title">Categories</p>
        <i class="fa-solid fa-caret-down categories__header-icon" *ngIf="!categoriesActive"
            (click)="activateCategories()"></i>
        <i class="fa-solid fa-caret-up categories__header-icon" *ngIf="categoriesActive"
            (click)="activateCategories()"></i>
    </div>
    <div class="categories__items" [ngClass]="{'categories__items--disactive': !categoriesActive}">
        <div class="item" *ngFor="let category of categories" (click)="onSelectCategory(category.name)">
            <div class="item__icon" [ngClass]="{'active': selectedCategory.indexOf(category.name) >= 0}">
                <i class="fa-solid {{category.icon}} "></i>
            </div>
            <p class="item__name">{{category.name}}</p>
        </div>
        <p class="categories__items-all" (click)="onShowAllProducts()">show all</p>
    </div>
</div>