.categories {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    // align-items: center;
    font-size: 1.3rem;
    padding: 0.5em;


    &__header {
        &-title {
            font-weight: bold;
            display: inline;
            margin-right: 1em;
            text-transform: uppercase;
        }
    
        &-icon {
            padding: 0.5em;

            &:hover {
                color: grey;
                cursor: pointer;
            }
        }
    }

    &__items {
        margin-top: 2em;
        // width: 50%;
        &--disactive {
            display: none;
        }

        & .item {
            display: flex;
            padding: 0.5em 0;
            // align-items: center;
            // justify-content: space-between;

            &__icon {
                background-color: grey;
                border-radius: 50%;
                width: 2em;
                height: 2em;
                padding: 1.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1em;
                background-color: rgb(210, 210, 210);
                cursor: pointer;
                
                &.active {
                    background-color: rgb(228, 208, 212);
                }

                i {
                    color: rgb(85, 85, 85);
                }
            }

            &__name {
                width: 50%;
            }
        }

        &-all {
            cursor: pointer;
            margin-top: 2em;
            padding: 1em 0;
            color: rgb(138, 138, 138);
    
            &:hover {
                color: rgb(161, 161, 161);
            }
        }
    }
}

@media (min-width: 768px) {
    .categories {
        align-items: flex-start;

        &__items {
            margin: 3em 0;
        }
    }
}