.categories {

    &__title {
        font-weight: bold;
    }

    &__items {
        margin: 3em 0;

        & .item {
            display: flex;
            padding: 0.5em 0;
            align-items: center;

            &__icon {
                background-color: grey;
                border-radius: 50%;
                width: 2em;
                height: 2em;
                padding: 1.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1em;
                background-color: rgb(216, 216, 216);
                cursor: pointer;
                
                &.active {
                    background-color: rgb(252, 231, 235)
                }
            }
        }
    }

    &__show-all {
        cursor: pointer;
    }
}