<div class="categories">
    <p class="categories__title">Categories</p>
    <div class="categories__items">
        <div class="item">
            <div class="item__icon"><i class="fa-solid fa-cake-candles"></i></div>
            <p class="item__name">cakes</p>
        </div>
        <div class="item">
            <div class="item__icon"><i class="fa-solid fa-ice-cream"></i></div>
            <p class="item__name">sweets</p>
        </div>
        <div class="item">
            <div class="item__icon"><i class="fa-solid fa-shapes"></i></div>
            <p class="item__name">accessories</p>
        </div>
    </div>
</div>