$almost-white: rgb(244, 244, 244);
$primary-pink: #db9797;
$light-pink: #fcd2d2;
$claret: rgb(134, 81, 81);
$light-grey: rgb(222, 222, 222);
$grey: rgb(152, 152, 152);
$dark-grey: #4e4e4e;
$almost-black: rgb(35, 35, 35);
$green: rgb(155, 206, 155);
$light-green: rgb(185, 225, 185);
