$almost-white: rgb(244, 244, 244);
$light-pink: rgb(229, 207, 207);
$primary-pink: rgb(226, 161, 161);
$medium-pink: rgb(236, 178, 178);
$dark-pink: rgb(205, 144, 144);
$claret: rgb(134, 81, 81);
$light-grey: rgb(222, 222, 222);
$grey: rgb(152, 152, 152);
$dark-grey: rgb(78, 78, 78);
$almost-black: rgb(35, 35, 35);
$green: rgb(155, 206, 155);
$light-green: rgb(185, 225, 185);
